.adminOrders {
  display: flex;
};

.adminList {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
};

.adminCard {
  width: 20%;
  margin-right: 0;
};

.adminCard a {
  text-decoration: none;
  color: black;
};
