.cartItem {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

.cartItem button{
  border: none;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 900;
  font-size: larger;
  width: 2rem;
  height: 2rem;
  
  margin: 0.5em 0;
}

.cartItem:hover button{
  background-color: rgba(255,0,0,1);
}

.cartItem .qty{
  width: 10%;
}
.cartItem .name{
  width: 40%;
}

.cartItem .unit-price{
  width: 20%;
  text-align: center;
}

.cartItem .total-product{
  width: 20%;
  text-align: center;
}

.cartItem .button{
  width: 10%;
  text-align: center;
}

.theX {
background: none;
border-radius: 100%;
}

