@media only screen and ( min-width : 600px ) {

  body {
    margin: 0;
  }

  .menuSuperior {
    background: rgb(196, 135, 3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    display:table;
    height: 78px;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .check {
    display: none;
  }

  .top-hamburguer {
    align-self: center;
    background: rgb(196, 135, 3);
    box-shadow: 0;
    color: rgb(248, 242, 230);
    cursor: pointer;
    display: inline-block;
    font-size: 50px;
    padding: 10px 15px 0;
    position: fixed;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    transition: color linear 0.15s;
    z-index: 1;
  }

  .topTitle {
    color: rgb(248, 242, 230);
    display: table-cell;
    font-family: Roboto Mono , Menlo , Monaco , Courier , monospace;
    font-size: 3em;
    height: 100%;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
  }

  .side-menu-container {
    background: rgb(196, 135, 3);
    height: 100%;
    left: 0;
    margin-top: 25px;
    position: fixed;
    transition: all 0.2s linear;
    width: 15%;
  }

  .menuLateral {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
  }

  .menuButton {
    display: flex;
    flex-direction: column;
  }

  .textCenter {
    text-align: center;
  }

  nav a {
    text-decoration: none;
  }

  .buttonLateral {
    background: rgb(255, 174, 0);
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    color: black;
    font-size: 20px;
    margin: 5%;
    padding: 5%;
  }

  .buttonLateral:hover {
    background: rgb(107, 73, 1);
  }
}

@media only screen and ( max-width : 600px ) {

  body {
    margin: 0;
  }

  .menuSuperior {
    background: rgb(196, 135, 3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    display:table;
    height: 13%;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .check {
    display: none;
  }

  .top-hamburguer {
    align-self: center;
    background: rgb(196, 135, 3);
    box-shadow: 0;
    color: rgb(248, 242, 230);
    cursor: pointer;
    display: inline-block;
    font-size: 50px;
    padding: 10px 15px 0;
    position: fixed;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    transition: color linear 0.15s;
    z-index: 1;
  }

  .topTitle {
    color: rgb(248, 242, 230);
    display: table-cell;
    font-family: Roboto Mono , Menlo , Monaco , Courier , monospace;
    font-size: 2.3em;
    height: 100%;
    margin: 0;  
    padding-left: 50px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
  }

  .side-menu-container {
    background: rgb(196, 135, 3);
    height: 90%;
    left: 0;
    margin-top: 70px;
    position: fixed;
    transition: all 0.2s linear;
    width: 40%;
  }

  .menuLateral {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
  }

  .menuButton {
    display: flex;
    flex-direction: column;
  }

  .textCenter {
    text-align: center;
  }

  nav a {
    text-decoration: none;
  }

  .buttonLateral {
    background: rgb(255, 174, 0);
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    color: black;
    font-size: 20px;
    margin: 5%;
    padding: 5%;
  }

  .buttonLateral:hover {
    background: rgb(107, 73, 1);
  }
}
